@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


:root {
    --color: linear-gradient(0deg , transparent , rgb(184,184,184,.2))
}


body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}

.h6_active {
    background: #fd6565 !important;
}

.screen {
    position: relative;
    width: 100%;
    height: 100px;
    border-top: 3px solid #fd6565;
    margin-top: 50px;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: inset 0px 10px 20px var(--color);
    text-align: center;
    padding-top: 15px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 12px;
    /* display: none; */
}

nav {
    width: 90%;
    height: 70px;
    margin: auto;
    background: rgb(184, 184, 184, .1);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
nav a span {
    color: skyblue;
}

.cards {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards .card {
    min-width: 130px;
    height: 180px;
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
    margin-top: 10px;
}
.cards .card  img{
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
  }
  
  .movie-container {
    margin: 20px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container {
    perspective: 1000px;
    margin-bottom: 30px;
  }
  
  .seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected {
    background-color: #6feaf6;
  }
  
  .seat.occupied {
    background-color: #fff;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 10px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
  }
  
  p.text {
    margin: 5px 0;
  }
  
  p.text span {
    color: #6feaf6;
  }

  .ticket-body {
    background-color: var(--theme-bg);
    font-family: "Yanone Kaffeesatz", sans-serif;
    /* font-weight: 600; */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .ticket {
    width: 400px;
    height: 775px;
    background-color: rgb(243, 235, 235);
    margin: 25px auto;
    position: relative;
  }
  
  .holes-top {
    height: 50px;
    width: 50px;
    background-color: var(--theme-bg);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: -25px;
  }
  
  .holes-top:before,
  .holes-top:after {
    content: "";
    height: 50px;
    width: 50px;
    background-color: var(--theme-bg);
    position: absolute;
    border-radius: 50%;
  }
  
  .holes-top:before {
    left: -200px;
  }
  
  .holes-top:after {
    left: 200px;
  }
  
  .holes-lower {
    position: relative;
    margin-right: 25px;
    margin-left: 25px;
    border: 1px dashed var(--theme-bg);
  }
  
  .holes-lower:before,
  .holes-lower:after {
    content: "";
    height: 50px;
    width: 50px;
    background-color: var(--theme-bg);
    position: absolute;
    border-radius: 50%;
  }
  
  .holes-lower:before {
    top: -25px;
    left: -50px;
  }
  
  .holes-lower:after {
    top: -25px;
    left: 350px;
  }
  
  .title {
    padding: 50px 25px 10px;
  }
  
  .cinema {
    color: skyblue;
    font-size: 1.5rem;
  }
  
  .movie-title {
    font-size: 1.2rem;
    color:#fd6565;
  }
  
  .info {
    padding: 15px 25px;
    color: black;
  }
  
  
  .bigger {
    font-size: 40px;
  }
  
  .serial {
    background-color: rgb(243, 235, 235);
    padding: 25px;
    margin-bottom: 25px;
  }
  
  .serial table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .serial td {
    width: 3px;
    height: 50px;
  }
  
  .numbers td {
    font-size: 16px;
    text-align: center;
    color: rgb(63, 62, 62);
  }

  .ticket-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

